@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  background-color: #a4feff;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h1 {
  color: #333;
}

.add-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

/* Input Fields Styles */
.name-field, .gender-field, .age-field {
  background-color: #e3e3e3;
  border: 1px solid #007BFF;
  color: #333;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.add {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

/* Search Input Styles */
.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #007BFF; /* Blue for header */
  color: white;
  font-weight: 600;
}

table th, table td {
  border: 1px solid #007BFF;
  padding: 10px;
  text-align: left;
  color: #333; /* Text color for table */
}

table td {
  font-size: 16px; /* Adjusted for better readability */
  font-weight: 400;
}

/* No Data Placeholder Styles */
.no-data {
  text-align: center;
  color: #888; /* Grey color for no data */
  font-size: 18px; /* Increased font size for emphasis */
  padding: 20px;
}

/* Action Button Styles */
.actions {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.edit {
  background-color: blue;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

.delete {
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.pagination button.active {
  background-color: green; /* Active button color */
}

/* Download Button Styles */
.btn-success {
  background-color: #007bff; /* Bootstrap blue */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Error Message Styles */
.error-text {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .info-container {
    flex-direction: column;
    gap: 5px;
  }

  .add-container {
    width: 100%;
    padding: 10px;
  }

  .search-input {
    width: 100%;
  }

  table, .actions {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .pagination {
    flex-wrap: wrap;
  }

  .add, .pagination button, .download-container .btn-success {
    width: 100%;
    max-width: 200px;
  }

  .actions {
    flex-wrap: wrap;
    gap: 2px;
  }

  button {
    margin: 3px 0;
  }

  table td, table th {
    text-align: center;
    font-size: 14px;
  }
}



